.form{
    right:0px;
    background-color:blue;
    text-align: center;
    position:absolute;
    padding:5px;
    box-shadow:5px;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    
    background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0,0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
opacity:0.45;
width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
  /*  background: rgb(255, 204, 204);PINK*/
/*opacity:0.75;OPACITY FOR THE TEXT*/

}

  .buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  /* Add a right margin to each icon */
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  
  }
  
  /*TO ALLIGN THE BUTTON IN THE CENTER*/
  .center {
    margin:0;
      position:absolute;
      top:50%;
      left:50%;
      -ms-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
      
  }

/*
  .back {

    
    border-radius: 5px;*/
   /* background-color:#adadad;*/
    /*padding: 90px;
    background-image:url(https://images.homedepot-static.com/productImages/5de61b29-8096-440e-b48c-9fcf8d862a14/svn/superfresco-easy-wallpaper-rolls-103163-64_1000.jpg);
  
}*/


/**{*/
       /* padding:0px;
        margin:0px;
        box-sizing: border-box;
        */
       
/*}*/
    /*
    .head{
        width:100%;
        height:500px;
        margin-top: -20px;
       background-image: url(https://www.aamc.org/sites/default/files/styles/scale_and_crop_1200_x_666/public/Public%20Opinion%20Research%201200x666.jpg?itok=Z9g0DOPe);
    }*/
    
    
    .navi-bar .menbar{
        margin-top: -100px;
        width:93%;
        margin-left: -1.7%;
       /* margin-right:2000%;*/
        /*height:50px;*/
        text-align:left;/* */
        box-shadow: 1px 2px 4px gray;
        background:#666666;
        /*background-color: tomato;*/
        background-image: url(https://1.bp.blogspot.com/-AXdcXiWoYE0/XjVcTcH5KcI/AAAAAAAABiE/v_pQR4FfB282YGeIolR5GCs59WQUVDhKwCPcBGAYYCw/s1600/Wrinkled-Grey-Paper-Texture-Background.jpg);
        position:fixed;
        
    }
    /*FOR TEXT*/
    .menbar li{
        list-style-type: none;
        display:inline-block;
        padding:20px; /*0px*/
        margin:0px 20px;
        /*float: left;*/
        color:black;
        /*height: 5px;*/
        font-size:25px;
        font-family:sans-serif;
        cursor: pointer;
        font-weight:bold;
        
        
    
    }
    .menubar a:hover{
        background: #999999;
        color:white;
        
        
        
    }
    
    .background {

    
        border-radius: 5px;
       /* background-color:#ffb3b3;*/
                padding: 90px;
                background-image: url(https://i.pinimg.com/474x/b5/0e/e5/b50ee56824af324da5e7334b448e936f.jpg);
        /*position:relative;*/
        /*display:flex;*/
       /* align-items: center;*/
    /*justify-content: center;*/
   
      
}  

.backimg{
 /* background-image: url(https://www.vantagetcg.com/wp-content/uploads/2018/11/Doctors-and-Computers-By-rawpixel-in-Unsplash-1024x750.jpg);*/
  opacity:0.75;
  height:420px;
  padding:90px;
  font-size: 20px;
  font-weight: 800;
  color:black;
  margin-top: -20px;;
}







    
