
.back {

    
    border-radius: 5px;
   /* background-color:#adadad;*/
    padding: 90px;
    background-image:url(https://images.homedepot-static.com/productImages/5de61b29-8096-440e-b48c-9fcf8d862a14/svn/superfresco-easy-wallpaper-rolls-103163-64_1000.jpg);
    margin-top:75px;
}


/**{*/
       /* padding:0px;
        margin:0px;
        box-sizing: border-box;
        */
       
/*}*/
    /*
    .head{
        width:100%;
        height:500px;
        margin-top: -20px;
       background-image: url(https://www.aamc.org/sites/default/files/styles/scale_and_crop_1200_x_666/public/Public%20Opinion%20Research%201200x666.jpg?itok=Z9g0DOPe);
    }*/
    
    
    .navibar .menu{
        margin-top: -20px;
        width:97%;
        /*height:50px;*/
        text-align:left;/* */
        box-shadow: 1px 2px 4px gray;
        background:#666666;
        /*background-color: tomato;*/
        background-image: url(https://1.bp.blogspot.com/-AXdcXiWoYE0/XjVcTcH5KcI/AAAAAAAABiE/v_pQR4FfB282YGeIolR5GCs59WQUVDhKwCPcBGAYYCw/s1600/Wrinkled-Grey-Paper-Texture-Background.jpg);
        position:fixed;
        
    }
    /*FOR TEXT*/
    .menu li{
        list-style-type: none;
        display:inline-block;
        padding:20px; /*0px*/
        margin:0px 20px;
        /*float: left;*/
        color:black;
        /*height: 5px;*/
        font-size:25px;
        font-family:sans-serif;
        cursor: pointer;
        font-weight:bold;
        
        
    
    }
    .menu a:hover{
        background: #999999;
        color:white;
        
        
        
    }
    
    .background {

    
        border-radius: 5px;
       /* background-color:#ffb3b3;*/
                padding: 90px;
                background-image: url(https://i.pinimg.com/474x/b5/0e/e5/b50ee56824af324da5e7334b448e936f.jpg);
        /*position:relative;*/
        /*display:flex;*/
       /* align-items: center;*/
    /*justify-content: center;*/
   
        
}  





